@page "/shared-dependent"

<div class="my-component">
    This component is defined in the <strong>RazorCLSharedDependent</strong> library.
    It depends on DummyDependency which returns: @DummyDependency.DummyService.SayHello()
</div>