@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/standalone">Standalone module</a>
<a href="/dependent">Dependent module</a>
<a href="/shared-dependent">Shared dependent module</a>