@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

It depends on DummyDependencyReferencedFromShell which returns: @DummyDependencyReferenceFromShell.DummyService2.SayHello()


<a href="/standalone">Standalone module</a>
<a href="/dependent">Dependent module</a>
<a href="/shared-dependent">Shared dependent module</a>
<a href="/dependent-referenced-in-shell">Dependent module referenced from shell</a>

<hr/>

<a href="/dependency">Dependency</a>
<a href="/dependency-referenced-from-shell">Dependency referenced from shell</a>
