@page "/dependent-referenced-in-shell"

<div class="my-component">
    This component is defined in the <strong>RazorCLDependentReferencedInShell</strong> library.
    It depends on DummyDependencyReferencedFromShell which returns: @DummyDependencyReferenceFromShell.DummyService2.SayHello()
</div>